.bio {
    display: flex;
    margin: 2rem 0;
}

.face {
    border-radius: 100%;
    margin-right: 0.5rem;
    min-width: 100px;
}

.details {
    align-items: center;
    display: flex;
    margin: 0;
}

.links {
    margin-left: 1rem;
}
