@font-face {
  font-display: block;
  font-family: "Lato Regular";
  src: url("./Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-display: block;
  font-family: "Open Sans Regular";
  src: url("./OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-display: block;
  font-family: "Open Sans Regular";
  font-style: italic;
  src: url("./OpenSans-Italic.ttf") format("truetype");
}
