a {
    color: #565656;
    font-weight: bold;
}

a:focus {
    background: linear-gradient(to right, #e7fff5 0%, #e7f5ff 100%);
    color: black;
}

blockquote {
    border-left: 3px solid gray;
    color: #212121;
    font-style: italic;
    letter-spacing: -0.02rem;
    margin: 2rem 0;
    padding-left: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

p {
    max-width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    font-size: 0.9rem;
}

.autolink {
    padding-left: 4px;
    margin-left: -28px;
}
