li {
    margin-bottom: 0.5rem;
}

p {
    max-width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    font-size: 0.9rem;
}

nav {
    padding-top: 2rem;
}

.autolink {
    padding-left: 4px;
    margin-left: -28px;
}

hr {
    border-color: #aaa;
    border-width: 0 0 1px 0;
    margin: 4.5rem auto;
    width: 50%;
}